{% extends 'base.html' %}
{% block content %}

<h1 class="display-4">name: {{user.first_name}} {{user.last_name}}</h1>

<p>username: {{user.username}}</p>

<p>email: {{user.email}}</p>
<form method="POST" action="/logout">
  {{ form.hidden_tag() }}
  <button class="btn btn-danger">logout</button>
</form>

<div>
  <ul>
    {% for note in notes %}
    <li>
      <p>{{note.title}}</p>
      <button action="/notes/<note-id>/update" method="GET">edit</button>
      <form method="POST" action="/delete_note">
        {{ form.hidden_tag() }}
        <button class="btn btn-danger">delete</button>
    </li>
    {% endfor %}
  </ul>
</div>
<div>
  <form method="POST" action="/users/{{ username }}/delete">
    {{ form.hidden_tag() }}
    <button class="btn btn-danger">delete user</button>
  </form>
  <button action="/users/username/name/add" method="GET">Add Note</button>
</div>

{% endblock %}